
body {
  background-color: #D6F4F7
}
h1 {
  color: #02103F;
  text-align: center;
  padding: 25px;
  font-size: 54px;
  font-family: 'Luckiest Guy', cursive;
}
img-responsive {
  width: 100%;
  height: auto;
}

.description {
  border-radius: 5px;
  text-align: center;
  color: #D6F4F7;
  padding: 15px;
  background-color: #02103F;
  width: 100%;
}
.images {
  color: #02103F;
  padding-bottom: 5px;
}
.counter{
  padding-bottom: 15px;
}
